<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTV</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav>
        <a href="/"> Home </a>
    </nav>

    <main>
        <h1> Add Tv Show </h1>
        <div class="myadd">
            <form action="/create" method="POST">
                <p>TV show: <input type="text" name="fieldTitle"> </p>
                <p>TV image URL: <input type="text" name="fieldImg"> </p>
                <p> <textarea name="fieldDescr"> </textarea> </p>
                <p> <input type="submit" value="ADD"> </p>
            </form>
        </div>
    </main>
    
</body>
</html>