<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTV</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav>
        <a href="/">Home</a>
    </nav>

    <main>
        <h1> My TV show from API </h1>
        <p> Welcome to express TV </p>
        <% showsdata.forEach((tvshow) => { %>
            <p>
                <%= tvshow.showname %>
                <span>
                    <a href="/show?tvid=<%=tvshow.id%>">Details</a>
                </span>
            </p>
         
        <% }) %>

    </main>
    
</body>
</html>